<h2>Meus heróis</h2>
<ul class = heroes>
  <li *ngFor="let hero of heroes">
    <button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">
      <span class = "Identificacao">{{hero.id}}</span>
      <span class = "Apelido">{{hero.nome}}</span>
    </button>
  </li>
  <div *ngIf="selectedHero">
    <h2>{{selectedHero.nome | uppercase}} Detalhes</h2>
    <div>Identificação: {{selectedHero.id}}</div>
    <div>
      <label for="nome-heroi">Nome do herói:</label>
      <input id = "nome-heroi" [(ngModel)] = "selectedHero.nome" placeholder="Nome do Herói">
    </div>
  </div>
</ul>